<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixeco.order.mapper.MainOrderMapper" >
  <resultMap id="BaseResultMap" type="com.sixeco.order.model.MainOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="main_order_no" property="mainOrderNo" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="equipment" property="equipment" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="product_count" property="productCount" jdbcType="INTEGER" />
    <result column="original_amount" property="originalAmount" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="user_id_tdc" property="userIdTdc" jdbcType="VARCHAR" />
    <result column="purchaser_id" property="purchaserId" jdbcType="VARCHAR" />
    <result column="purchaser_name" property="purchaserName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="settlement_status" property="settlementStatus" jdbcType="INTEGER" />
    <result column="settled_time" property="settledTime" jdbcType="TIMESTAMP" />
    <result column="split_flag" property="splitFlag" jdbcType="BIT" />
    <result column="split_plan" property="splitPlan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, main_order_no, source, equipment, order_status, product_count, original_amount,
    amount, user_id_tdc, purchaser_id, purchaser_name, mobile, id_number, settlement_status,
    settled_time, split_flag, split_plan, remark, create_time, update_time, create_by,
    update_by, is_deleted
  </sql>
</mapper>
