<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixeco.order.mapper.MainOrderMapper" >
  <resultMap id="BaseResultMap" type="com.sixeco.order.model.MainOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="main_order_no" property="mainOrderNo" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="equipment" property="equipment" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="user_id_tdc" property="userIdTdc" jdbcType="VARCHAR" />
    <result column="purchaser_id" property="purchaserId" jdbcType="VARCHAR" />
    <result column="purchaser_name" property="purchaserName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="settlement_status" property="settlementStatus" jdbcType="INTEGER" />
    <result column="settled_time" property="settledTime" jdbcType="TIMESTAMP" />
    <result column="split_flag" property="splitFlag" jdbcType="BIT" />
    <result column="split_plan" property="splitPlan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <resultMap id="orderDetailResultMap" type="com.sixeco.order.model.vo.MainOrderVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="main_order_no" property="mainOrderNo" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="equipment" property="equipment" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="user_id_tdc" property="userIdTdc" jdbcType="VARCHAR" />
    <result column="purchaser_id" property="purchaserId" jdbcType="VARCHAR" />
    <result column="purchaser_name" property="purchaserName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="settlement_status" property="settlementStatus" jdbcType="INTEGER" />
    <result column="settled_time" property="settledTime" jdbcType="TIMESTAMP" />
    <result column="split_flag" property="splitFlag" jdbcType="BIT" />
    <result column="split_plan" property="splitPlan" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <collection column="id" property="subOrders" ofType="com.sixeco.order.model.vo.SubOrderVO" >
      <id column="s_id" property="id" jdbcType="BIGINT" />
      <result column="s_main_order_no" property="mainOrderNo" jdbcType="INTEGER" />
      <result column="sub_order_no" property="subOrderNo" jdbcType="INTEGER" />
      <result column="order_type" property="orderType" jdbcType="INTEGER" />
      <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
      <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
      <result column="pay_type" property="payType" jdbcType="INTEGER" />
      <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
      <result column="store_name" property="storeName" jdbcType="VARCHAR" />
      <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
      <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
      <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
      <result column="s_create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="s_update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="s_create_by" property="createBy" jdbcType="BIGINT" />
      <result column="s_update_by" property="updateBy" jdbcType="BIGINT" />
      <collection column="sub_order_no" property="carOrderItems" select="com.sixeco.order.mapper.SubOrderMapper.carListBySubOrderNo"/>
      <collection column="sub_order_no" property="otherOrderItems" select="com.sixeco.order.mapper.SubOrderMapper.otherListBySubOrderNo"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, main_order_no, source, equipment, order_status, user_id_tdc, purchaser_id,
    purchaser_name, mobile, id_number, pay_type, settlement_status, settled_time, split_flag,
    split_plan, remark, create_time, update_time, create_by, update_by, is_deleted
  </sql>
  <insert id="insertMainOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.sixeco.order.model.MainOrder" >
    insert into main_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
        main_order_no,
      <if test="source != null" >
        source,
      </if>
      <if test="equipment != null" >
        equipment,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="userIdTdc != null" >
        user_id_tdc,
      </if>
      <if test="purchaserId != null" >
        purchaser_id,
      </if>
      <if test="purchaserName != null" >
        purchaser_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="settlementStatus != null" >
        settlement_status,
      </if>
      <if test="settledTime != null" >
        settled_time,
      </if>
      <if test="splitFlag != null" >
        split_flag,
      </if>
      <if test="splitPlan != null" >
        split_plan,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
        CONCAT( 'P', DATE_FORMAT( NOW(), '%Y%m%d%H%i%s' ), CEILING( RAND( ) * 90000+10000 ) ),
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="equipment != null" >
        #{equipment,jdbcType=BIT},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="userIdTdc != null" >
        #{userIdTdc,jdbcType=VARCHAR},
      </if>
      <if test="purchaserId != null" >
        #{purchaserId,jdbcType=VARCHAR},
      </if>
      <if test="purchaserName != null" >
        #{purchaserName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="settlementStatus != null" >
        #{settlementStatus,jdbcType=BIT},
      </if>
      <if test="settledTime != null" >
        #{settledTime,jdbcType=TIMESTAMP},
      </if>
      <if test="splitFlag != null" >
        #{splitFlag,jdbcType=BIT},
      </if>
      <if test="splitPlan != null" >
        #{splitPlan,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="orderDetail" parameterType="string" resultMap="orderDetailResultMap" >
    SELECT
      main_order.id,
      main_order.main_order_no,
      main_order.source,
      main_order.equipment,
      main_order.order_status,
      main_order.user_id_tdc,
      main_order.purchaser_id,
      main_order.mobile,
      main_order.id_number,
      main_order.pay_type,
      main_order.settlement_status,
      main_order.settled_time,
      main_order.split_flag,
      main_order.split_plan,
      main_order.remark,
      main_order.create_time,
      main_order.update_time,
      main_order.create_by,
      main_order.update_by,
      sub_order.id AS s_id,
      sub_order.main_order_no AS s_main_order_no,
      sub_order.sub_order_no,
      sub_order.order_type,
      sub_order.merchant_id,
      sub_order.merchant_name,
      sub_order.pay_type,
      sub_order.store_code,
      sub_order.store_name,
      sub_order.receiver_name,
      sub_order.receiver_mobile,
      sub_order.receiver_address,
      sub_order.create_time AS s_create_time,
      sub_order.update_time AS s_update_time,
      sub_order.create_by AS s_create_by,
      sub_order.update_by AS s_update_by
  FROM
      main_order,
      sub_order
  WHERE
      main_order.main_order_no = sub_order.main_order_no
      AND main_order.is_deleted = 0
      AND sub_order.is_deleted = 0
      AND main_order.main_order_no = #{mainOrderNo}
  </select>
</mapper>
