<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixeco.order.mapper.OtherOrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.sixeco.order.model.OtherOrderItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sub_order_no" property="subOrderNo" jdbcType="VARCHAR" />
    <result column="item_no" property="itemNo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="purchase_count" property="purchaseCount" jdbcType="INTEGER" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_sell_price" property="productSellPrice" jdbcType="DECIMAL" />
    <result column="product_attr" property="productAttr" jdbcType="VARCHAR" />
    <result column="shipping_way" property="shippingWay" jdbcType="VARCHAR" />
    <result column="order_logistics_id" property="orderLogisticsId" jdbcType="VARCHAR" />
    <result column="tax_other_price" property="taxOtherPrice" jdbcType="DECIMAL" />
    <result column="tax_reason" property="taxReason" jdbcType="VARCHAR" />
    <result column="draw_bill_flag" property="drawBillFlag" jdbcType="BIT" />
    <result column="bill_code" property="billCode" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_country" property="receiverCountry" jdbcType="VARCHAR" />
    <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="discount_flag" property="discountFlag" jdbcType="BIT" />
    <result column="account_type" property="accountType" jdbcType="INTEGER" />
    <result column="integration" property="integration" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sub_order_no, item_no, type, purchase_count, product_code, product_name,
    product_attr, shipping_way, order_logistics_id, tax_other_price, tax_reason, draw_bill_flag, bill_code,
    supplier_code, shop_id, receiver_name, receiver_mobile, receiver_country, receiver_province,
    receiver_city, receiver_district, receiver_address, discount_flag, integration, create_time,
    update_time, create_by, update_by, is_deleted
  </sql>
  <insert id="insertOtherOrderItem" parameterType="com.sixeco.order.model.OtherOrderItem" >
    insert into other_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subOrderNo != null" >
        sub_order_no,
      </if>
        item_no,
      <if test="type != null" >
        type,
      </if>
      <if test="purchaseCount != null" >
        purchase_count,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productAttr != null" >
        product_attr,
      </if>
      <if test="shippingWay != null" >
        shipping_way,
      </if>
      <if test="otherLogisticsId != null" >
        order_logistics_id,
      </if>
      <if test="taxOtherPrice != null" >
        tax_other_price,
      </if>
      <if test="taxReason != null" >
        tax_reason,
      </if>
      <if test="drawBillFlag != null" >
        draw_bill_flag,
      </if>
      <if test="billCode != null" >
        bill_code,
      </if>
      <if test="supplierCode != null" >
        supplier_code,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverCountry != null" >
        receiver_country,
      </if>
      <if test="receiverProvince != null" >
        receiver_province,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverDistrict != null" >
        receiver_district,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="discountFlag != null" >
        discount_flag,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="integration != null" >
        integration,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subOrderNo != null" >
        #{subOrderNo,jdbcType=VARCHAR},
      </if>
        CONCAT( 'I', DATE_FORMAT( NOW(), '%Y%m%d%H%i%s' ), CEILING( RAND( ) * 90000+10000 ) ),
      <if test="purchaseCount != null" >
        #{purchaseCount,jdbcType=INTEGER},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productAttr != null" >
        #{productAttr,jdbcType=VARCHAR},
      </if>
      <if test="shippingWay != null" >
        #{shippingWay,jdbcType=VARCHAR},
      </if>
      <if test="orderLogisticsId != null">
        #{orderLogisticsId,jdbcType=VARCHAR}
      </if>
      <if test="taxOtherPrice != null" >
        #{taxOtherPrice,jdbcType=DECIMAL},
      </if>
      <if test="taxReason != null" >
        #{taxReason,jdbcType=VARCHAR},
      </if>
      <if test="drawBillFlag != null" >
        #{drawBillFlag,jdbcType=BIT},
      </if>
      <if test="billCode != null" >
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null" >
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverCountry != null" >
        #{receiverCountry,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="discountFlag != null" >
        #{discountFlag,jdbcType=BIT},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="integration != null" >
        #{integration,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>
