<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sixeco.order.mapper.SubOrderMapper" >
  <resultMap id="BaseResultMap" type="com.sixeco.order.model.SubOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="main_order_no" property="mainOrderNo" jdbcType="INTEGER" />
    <result column="sub_order_no" property="subOrderNo" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="sub_original_amount" property="subOriginalAmount" jdbcType="DECIMAL" />
    <result column="sub_amount" property="subAmount" jdbcType="DECIMAL" />
    <result column="carriage_price" property="carriagePrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, main_order_no, sub_order_no, order_type, merchant_id, merchant_name, pay_type,
    store_code, store_name, receiver_name, receiver_mobile, receiver_address, sub_original_amount,
    sub_amount, carriage_price, create_time, update_time, create_by, update_by, is_deleted
  </sql>
  <insert id="insertSubOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.sixeco.order.model.SubOrder" >
    insert into sub_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mainOrderNo != null" >
        main_order_no,
      </if>
        sub_order_no,
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="subOriginalAmount != null" >
        sub_original_amount,
      </if>
      <if test="subAmount != null" >
        sub_amount,
      </if>
      <if test="carriagePrice != null" >
        carriage_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mainOrderNo != null" >
        #{mainOrderNo,jdbcType=INTEGER},
      </if>
        CONCAT( 'S', DATE_FORMAT( NOW(), '%Y%m%d%H%i%s' ), CEILING( RAND( ) * 90000+10000 ) ),
      <if test="orderType != null" >
        #{orderType,jdbcType=BIT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=BIT},
      </if>
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="subOriginalAmount != null" >
        #{subOriginalAmount,jdbcType=DECIMAL},
      </if>
      <if test="subAmount != null" >
        #{subAmount,jdbcType=DECIMAL},
      </if>
      <if test="carriagePrice != null" >
        #{carriagePrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="carListBySubOrderNo" parameterType="string" resultType="com.sixeco.order.model.vo.CarOrderItemVO">
    SELECT
        *
    FROM
        car_order_item
    WHERE
        sub_order_no = #{subOrderNo}
        AND is_deleted = 0
  </select>
  <select id="otherListBySubOrderNo" parameterType="string" resultType="com.sixeco.order.model.vo.OtherOrderItemVO">
    SELECT
        *
    FROM
        other_order_item
    WHERE
        sub_order_no = #{subOrderNo}
        AND is_deleted = 0
  </select>
</mapper>
